*{
    margin: 0;
    padding: 0;
}

.primary-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.primary-pr{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;

}

.btn-primary{
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 20px 43px;
}

/* 1st section */

.first-section{
    height: 100vh;
    background-color: #FCEEF1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
}
.text1{
    
    width: 700px;
    margin: auto;
}

.first-title{
    
    color: black;
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
}

.first-pr{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    
}

.image1st{
    height: 100vh;
    
}

/* 2nd section */

.second-section{
    margin-top: 40px;
}

.second-section-first{
    width: 500px;
    margin: auto;
    text-align: center;
}

.image-text{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
}


.image-section{
    background-color: #C95992;
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    align-items: center;
    text-align: center;
}

.second-section-pr{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 20px;
}


.second-section-image{
    height: 250px;
    margin-top: 100px;
}


.image-section-2{
    background-color: #D9EFF1;
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    align-items: center;
    text-align: center;
}

.second-section-image-2{
    height: 250px;
    margin-top: 100px;
    }

.image-section-3{
    background-color: #E3EBDB;
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    align-items: center;
    text-align: center;
}

.second-section-image-3{
    height: 250px;
    margin-top: 100px;
    }

    /* 3rd section */

.third-section{
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    height: 300px;
    width: 1000px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.icon1{
    text-align: center;
    align-items: center;
}
.pr-image{
    margin-top: 20px;
}

/* 4th section */

.fouth-section{
    height: 400px;
    background-color: #FEF6F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px 60px;

}
.fouth-left{
    width: 550px;
}

.btn-fouth{
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 20px 43px;
    margin-top: 20px;
}

.fouth-image{
    height: 350px;
}

span{
    color: #E55473;
}


.fith-section{
    margin-top: 70px;
    margin-bottom: 70px;
}

.pr-fith{
    width: 600px;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    line-height: 24px;
}

.insta-image{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
    align-items: center;
    width: 800px;
    margin: auto;
    margin-top: 40px;
}

.in-ig{
    width: 300px;
    height: 300px;
}